-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bsitcrud
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_assignment`
--

DROP TABLE IF EXISTS `classroom_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_assignment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `description` longtext NOT NULL,
  `due_date` date DEFAULT NULL,
  `points` int(10) unsigned NOT NULL CHECK (`points` >= 0),
  `classroom_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `classroom_assignment_classroom_id_8c5ff526_fk_classroom` (`classroom_id`),
  CONSTRAINT `classroom_assignment_classroom_id_8c5ff526_fk_classroom` FOREIGN KEY (`classroom_id`) REFERENCES `classroom_classroom` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_assignment`
--

LOCK TABLES `classroom_assignment` WRITE;
/*!40000 ALTER TABLE `classroom_assignment` DISABLE KEYS */;
INSERT INTO `classroom_assignment` VALUES (1,'Essay 1','Write 1 page',NULL,20,1);
/*!40000 ALTER TABLE `classroom_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_attendanceentry`
--

DROP TABLE IF EXISTS `classroom_attendanceentry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_attendanceentry` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `status` varchar(10) NOT NULL,
  `student_id` int(11) NOT NULL,
  `classroom_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `classroom_attendanceentr_classroom_id_student_id__2ab681cd_uniq` (`classroom_id`,`student_id`,`date`),
  KEY `classroom_attendanceentry_student_id_054739b5_fk_auth_user_id` (`student_id`),
  CONSTRAINT `classroom_attendance_classroom_id_c0996711_fk_classroom` FOREIGN KEY (`classroom_id`) REFERENCES `classroom_classroom` (`id`),
  CONSTRAINT `classroom_attendanceentry_student_id_054739b5_fk_auth_user_id` FOREIGN KEY (`student_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_attendanceentry`
--

LOCK TABLES `classroom_attendanceentry` WRITE;
/*!40000 ALTER TABLE `classroom_attendanceentry` DISABLE KEYS */;
/*!40000 ALTER TABLE `classroom_attendanceentry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_badge`
--

DROP TABLE IF EXISTS `classroom_badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_badge` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` varchar(255) NOT NULL,
  `icon` varchar(50) NOT NULL,
  `points_required` int(10) unsigned NOT NULL CHECK (`points_required` >= 0),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_badge`
--

LOCK TABLES `classroom_badge` WRITE;
/*!40000 ALTER TABLE `classroom_badge` DISABLE KEYS */;
INSERT INTO `classroom_badge` VALUES (1,'First Steps','Earned your first points','fa-medal',5),(2,'Rising Star','Earned 50 points','fa-star',50),(3,'High Achiever','Earned 200 points','fa-trophy',200),(4,'Legend','Earned 1000 points','fa-crown',1000);
/*!40000 ALTER TABLE `classroom_badge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_classroom`
--

DROP TABLE IF EXISTS `classroom_classroom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_classroom` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `section` varchar(50) NOT NULL,
  `teacher_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `classroom_classroom_teacher_id_75e10964_fk_auth_user_id` (`teacher_id`),
  CONSTRAINT `classroom_classroom_teacher_id_75e10964_fk_auth_user_id` FOREIGN KEY (`teacher_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_classroom`
--

LOCK TABLES `classroom_classroom` WRITE;
/*!40000 ALTER TABLE `classroom_classroom` DISABLE KEYS */;
INSERT INTO `classroom_classroom` VALUES (1,'BSIT','3A',14);
/*!40000 ALTER TABLE `classroom_classroom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_pointtransaction`
--

DROP TABLE IF EXISTS `classroom_pointtransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_pointtransaction` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `delta` int(11) NOT NULL,
  `reason` varchar(255) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `profile_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `classroom_pointtrans_profile_id_2507e3fe_fk_classroom` (`profile_id`),
  CONSTRAINT `classroom_pointtrans_profile_id_2507e3fe_fk_classroom` FOREIGN KEY (`profile_id`) REFERENCES `classroom_studentprofile` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_pointtransaction`
--

LOCK TABLES `classroom_pointtransaction` WRITE;
/*!40000 ALTER TABLE `classroom_pointtransaction` DISABLE KEYS */;
INSERT INTO `classroom_pointtransaction` VALUES (1,2,'Daily login streak bonus','2026-10-07 04:11:33.813045',5);
/*!40000 ALTER TABLE `classroom_pointtransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_question`
--

DROP TABLE IF EXISTS `classroom_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_question` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `text` varchar(500) NOT NULL,
  `answer` varchar(255) NOT NULL,
  `quiz_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `classroom_question_quiz_id_2a7a64c7_fk_classroom_quiz_id` (`quiz_id`),
  CONSTRAINT `classroom_question_quiz_id_2a7a64c7_fk_classroom_quiz_id` FOREIGN KEY (`quiz_id`) REFERENCES `classroom_quiz` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_question`
--

LOCK TABLES `classroom_question` WRITE;
/*!40000 ALTER TABLE `classroom_question` DISABLE KEYS */;
INSERT INTO `classroom_question` VALUES (1,'What is 2 + 2?','4',1),(2,'Capital of the Philippines?','Manila',1);
/*!40000 ALTER TABLE `classroom_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_quiz`
--

DROP TABLE IF EXISTS `classroom_quiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_quiz` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `description` longtext NOT NULL,
  `reward_points` int(10) unsigned NOT NULL CHECK (`reward_points` >= 0),
  `created_at` datetime(6) NOT NULL,
  `classroom_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `classroom_quiz_classroom_id_9592102f_fk_classroom_classroom_id` (`classroom_id`),
  CONSTRAINT `classroom_quiz_classroom_id_9592102f_fk_classroom_classroom_id` FOREIGN KEY (`classroom_id`) REFERENCES `classroom_classroom` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_quiz`
--

LOCK TABLES `classroom_quiz` WRITE;
/*!40000 ALTER TABLE `classroom_quiz` DISABLE KEYS */;
INSERT INTO `classroom_quiz` VALUES (1,'Intro Quiz','',20,'2026-10-07 04:07:20.115424',1);
/*!40000 ALTER TABLE `classroom_quiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_quizattempt`
--

DROP TABLE IF EXISTS `classroom_quizattempt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_quizattempt` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `score` int(10) unsigned NOT NULL CHECK (`score` >= 0),
  `total` int(10) unsigned NOT NULL CHECK (`total` >= 0),
  `points_earned` int(10) unsigned NOT NULL CHECK (`points_earned` >= 0),
  `completed_at` datetime(6) NOT NULL,
  `quiz_id` bigint(20) NOT NULL,
  `profile_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `classroom_quizattempt_profile_id_quiz_id_040bcaa2_uniq` (`profile_id`,`quiz_id`),
  KEY `classroom_quizattempt_quiz_id_c2931e5f_fk_classroom_quiz_id` (`quiz_id`),
  CONSTRAINT `classroom_quizattemp_profile_id_64682461_fk_classroom` FOREIGN KEY (`profile_id`) REFERENCES `classroom_studentprofile` (`id`),
  CONSTRAINT `classroom_quizattempt_quiz_id_c2931e5f_fk_classroom_quiz_id` FOREIGN KEY (`quiz_id`) REFERENCES `classroom_quiz` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_quizattempt`
--

LOCK TABLES `classroom_quizattempt` WRITE;
/*!40000 ALTER TABLE `classroom_quizattempt` DISABLE KEYS */;
/*!40000 ALTER TABLE `classroom_quizattempt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_redemption`
--

DROP TABLE IF EXISTS `classroom_redemption`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_redemption` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `redeemed_at` datetime(6) NOT NULL,
  `fulfilled` tinyint(1) NOT NULL,
  `reward_id` bigint(20) NOT NULL,
  `profile_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `classroom_redemption_reward_id_03083f3e_fk_classroom_reward_id` (`reward_id`),
  KEY `classroom_redemption_profile_id_95e2ed07_fk_classroom` (`profile_id`),
  CONSTRAINT `classroom_redemption_profile_id_95e2ed07_fk_classroom` FOREIGN KEY (`profile_id`) REFERENCES `classroom_studentprofile` (`id`),
  CONSTRAINT `classroom_redemption_reward_id_03083f3e_fk_classroom_reward_id` FOREIGN KEY (`reward_id`) REFERENCES `classroom_reward` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_redemption`
--

LOCK TABLES `classroom_redemption` WRITE;
/*!40000 ALTER TABLE `classroom_redemption` DISABLE KEYS */;
/*!40000 ALTER TABLE `classroom_redemption` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_reward`
--

DROP TABLE IF EXISTS `classroom_reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_reward` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` varchar(255) NOT NULL,
  `cost` int(10) unsigned NOT NULL CHECK (`cost` >= 0),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_reward`
--

LOCK TABLES `classroom_reward` WRITE;
/*!40000 ALTER TABLE `classroom_reward` DISABLE KEYS */;
INSERT INTO `classroom_reward` VALUES (1,'Homework Pass','Skip one homework grade',75),(2,'Seat of Choice','Sit anywhere for a week',50),(3,'Extra Credit','+5 points on next quiz',100);
/*!40000 ALTER TABLE `classroom_reward` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_studentbadge`
--

DROP TABLE IF EXISTS `classroom_studentbadge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_studentbadge` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `awarded_at` datetime(6) NOT NULL,
  `badge_id` bigint(20) NOT NULL,
  `profile_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `classroom_studentbadge_profile_id_badge_id_8e9e3459_uniq` (`profile_id`,`badge_id`),
  KEY `classroom_studentbadge_badge_id_c24cd57d_fk_classroom_badge_id` (`badge_id`),
  CONSTRAINT `classroom_studentbad_profile_id_e187a2cc_fk_classroom` FOREIGN KEY (`profile_id`) REFERENCES `classroom_studentprofile` (`id`),
  CONSTRAINT `classroom_studentbadge_badge_id_c24cd57d_fk_classroom_badge_id` FOREIGN KEY (`badge_id`) REFERENCES `classroom_badge` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_studentbadge`
--

LOCK TABLES `classroom_studentbadge` WRITE;
/*!40000 ALTER TABLE `classroom_studentbadge` DISABLE KEYS */;
/*!40000 ALTER TABLE `classroom_studentbadge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_studentprofile`
--

DROP TABLE IF EXISTS `classroom_studentprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_studentprofile` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `avatar_emoji` varchar(8) NOT NULL,
  `xp` int(10) unsigned NOT NULL CHECK (`xp` >= 0),
  `points` int(11) NOT NULL,
  `streak_days` int(10) unsigned NOT NULL CHECK (`streak_days` >= 0),
  `last_active_date` date DEFAULT NULL,
  `classroom_id` bigint(20) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `classroom_studentpro_classroom_id_65d80883_fk_classroom` (`classroom_id`),
  CONSTRAINT `classroom_studentpro_classroom_id_65d80883_fk_classroom` FOREIGN KEY (`classroom_id`) REFERENCES `classroom_classroom` (`id`),
  CONSTRAINT `classroom_studentprofile_user_id_bda7179d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_studentprofile`
--

LOCK TABLES `classroom_studentprofile` WRITE;
/*!40000 ALTER TABLE `classroom_studentprofile` DISABLE KEYS */;
INSERT INTO `classroom_studentprofile` VALUES (1,'????',0,0,0,NULL,1,15),(2,'????',0,0,0,NULL,1,16),(3,'????',0,0,0,NULL,1,17),(4,'????',0,0,0,NULL,1,18),(5,'????',2,2,1,'2026-10-07',NULL,19);
/*!40000 ALTER TABLE `classroom_studentprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classroom_submission`
--

DROP TABLE IF EXISTS `classroom_submission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classroom_submission` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `submitted_at` datetime(6) NOT NULL,
  `status` varchar(20) NOT NULL,
  `grade` int(10) unsigned DEFAULT NULL CHECK (`grade` >= 0),
  `assignment_id` bigint(20) NOT NULL,
  `student_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `classroom_submission_assignment_id_student_id_42bdd436_uniq` (`assignment_id`,`student_id`),
  KEY `classroom_submission_student_id_e12903c9_fk_auth_user_id` (`student_id`),
  CONSTRAINT `classroom_submission_assignment_id_829ed021_fk_classroom` FOREIGN KEY (`assignment_id`) REFERENCES `classroom_assignment` (`id`),
  CONSTRAINT `classroom_submission_student_id_e12903c9_fk_auth_user_id` FOREIGN KEY (`student_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classroom_submission`
--

LOCK TABLES `classroom_submission` WRITE;
/*!40000 ALTER TABLE `classroom_submission` DISABLE KEYS */;
/*!40000 ALTER TABLE `classroom_submission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblinfo`
--

DROP TABLE IF EXISTS `tblinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblinfo` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `age` int(10) unsigned NOT NULL CHECK (`age` >= 0),
  `address` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tblinfo_user_id_4a36749d_fk_auth_user_id` (`user_id`),
  CONSTRAINT `tblinfo_user_id_4a36749d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblinfo`
--

LOCK TABLES `tblinfo` WRITE;
/*!40000 ALTER TABLE `tblinfo` DISABLE KEYS */;
INSERT INTO `tblinfo` VALUES (1,'Glenn Azuelo1',30,'cauayan','glennazuelo1@gmail.com','2026-09-28 14:16:01.072631','2026-09-28 14:16:13.176731',1);
/*!40000 ALTER TABLE `tblinfo` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 12:12:46
